asgiref==3.5.0
dj-database-url==0.5.0
djangify==1.0.0
Django==4.0.4
django-heroku==0.3.1
gunicorn==20.1.0
psycopg2==2.9.3
python-decouple==3.6
pytweening==1.0.4

PyYAML==5.4.1
pyzmq==22.3.0
reportlab==3.6.9
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.35
sqlparse==0.4.2
whitenoise==6.1.0
